<main id="diaryStatus">
    <header>
        <h1>Nhật Ký Cảm Xúc</h1>
    </header>
    <div class="emotions-log">
        <div class="log-entry">
            
        </div>
    </div>
</main>

<script src="/scripts/diary_status.js"></script>