<main id="forgot-password">
    <div class="forgot-password-header">
        <div class="forgot-password-introduce">
            <h1 class="forgot-password-title">Forgot Password</h1>
            <div class="forgot-password-breadcrumb">
                <a href="/login">Login</a>
                <img src="/img/arrow_right.svg" alt="" />
                <p>Forgot password</p>
            </div>
        </div>
    </div>

    <div class="forgot-password-body">
        <div class="forgot-password-container">
            <h2 class="sub-title">Forgot Password</h2>

            <form id="forgot-password-form">
                <div class="group form-email">
                    <div class="input-group">
                        <input
                            type="email"
                            id="email"
                            name="email"
                            placeholder="Enter your email"
                            required
                        />

                        <i class="fa-solid fa-envelope"></i>
                    </div>

                    <span class="error email-error">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        <p class="error-text">Please enter a valid email.</p>
                    </span>
                </div>

                <button
                    class="button forgot-password-btn"
                    type="submit"
                >CONTINUE</button>
            </form>
        </div>
    </div>
</main>

<script src="/scripts/forgotPassword.js"></script>