<main id="home">
    <div class="home-header">
        <div class="home-introduce">
            <h1 class="home-title">Home</h1>
            <div class="home-breadcrumb">
                <a href="/">Home</a>
                <img src="/img/arrow_right.svg" alt="" />
                <p>Home</p>
            </div>
        </div>
    </div>
    <div class="home-body">
        <div class="home-container">
            <h2 class="sub-title">Home</h2>
            <p class="title-form">Welcome to the Research website!</p>
            <p class="title-form">This is a simple website to demonstrate the use of Handlebars.</p>
            <p class="title-form">You can navigate to the Login page by clicking the button below:</p>
            <a href="/login" class="btn">Login</a>

            <div class="notification">
                <i class="fa-solid fa-check"></i>
                <p class="notification-text"></p>
            </div>
        </div>
    </div>
</main>