<main id="practice">
    <h1>Practice</h1>
    <div class="practice_step step_1">
        <span class="practice_step_title">
            Bước 1: Checkin và checkout cảm xúc.
        </span>
        <div class="practice_step_content">
            <div class="practice_step_content_item">
                <div class="practice_step_content_item_title">
                    <span>Checkin cảm xúc</span>
                </div>
                <div class="practice_step_content_item_content">
                    <label for="checkin">Cảm xúc của bạn trong ngày hôm nay như thế nào.</label>
                    <textarea name="checkin" id="checkin" cols="30" rows="10" placeholder="Nhập cảm xúc của bạn vào đây"></textarea>
                </div>
            </div>
            <div class="practice_step_content_item">
                <div class="practice_step_content_item_title">
                    <span>Checkout cảm xúc</span>
                </div>
                <div class="practice_step_content_item_content">
                    <label for="checkout">Cảm xúc của bạn sau khi kết thúc ngày hôm nay như thế nào.</label>
                    <textarea name="checkout" id="checkout" cols="30" rows="10" placeholder="Nhập cảm xúc của bạn vào đây"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="practice_step step_2">
        <span class="practice_step_title">
            Bước 2: Viết 3 điều mà bạn biết ơn trong ngày hôm nay.
        </span>
        <div class="practice_step_content">
            <div class="practice_step_content_item">
                <div class="practice_step_content_item_title">
                    <span>3 điều mà bạn biết ơn</span>
                </div>
                <div class="practice_step_content_item_content">
                    <label for="gratitude">Các bước thực hiện. Mỗi ngày bạn hãy thực hiện lại các bước dưới đây để giúp cảm xúc của bản thân được tốt hơn nhé.</label>
                    <p>Bước 1: Bạn hay làm cho mình một hộp giấy nhỏ để lưu giữ những gì bạn biết ơn trong ngày hôm nay sắp tới nhé.</p>
                    <p>Nếu bạn chưa có cho mình một hộp giấy thì hãy nhấn vào<a href="https://www.youtube.com/watch?v=cxcUdSrB2Uc"> đây </a> để chúng ta cùng nhau làm cho mình một hộp giấy nhé!</p>
                    <p>Bước 2: Mỗi ngày bạn hãy viết ra 3 điều mà bạn biết ơn vào từng tờ giấy nhỏ và bỏ chúng vào từng hộp của từng ngày để bạn có thể theo dõi được cảm xúc của mình qua từng ngày nhé.</p>
                    <p>Bước 3: Cuối ngày bạn hãy đọc lại những điều mà bạn biết ơn và cảm nhận sự thay đổi trong tâm trạng của mình trong ngày.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="practice_step step_3">
        <span class="practice_step_title">
            Bước 3: Thực hiện thiền định để ổn định cảm xúc.
        </span>
        <div class="practice_step_content">
            <div class="practice_step_content_item">
                <div class="practice_step_content_item_title">
                    <span>Thực hiện thiền định theo hướng dẫn.</span>
                </div>
                <div class="practice_step_content_item_content" id="player">
                    
                </div>
            </div>
        </div>
    </div>
</main>

<script src="https://www.youtube.com/iframe_api"></script>
<script src="https://cdn.jsdelivr.net/npm/fireworks-js@2.x/dist/index.umd.js"></script>
<script src="/scripts/practice.js"></script>
