<main id="survey">
    <div class="survey-header">
        <div class="survey-introduce">
            <h1 class="survey-title">Survey</h1>
            <div class="survey-breadcrumb">
                <a href="/">Home</a>
                <img src="/img/arrow_right.svg" alt="" />
                <p>Survey</p>
            </div>
        </div>
    </div>
    <div class="survey-body">
        <div class="survey-container">
            <h2 class="sub-title">Survey</h2>
            <p class="title-form">Please fill out the survey below:</p>
            <form id="survey-form" action="/survey" method="POST">
                <div class="input-group questions">

                </div>
                <button type="submit" class="btn-submit">Submit</button>
            </form>
        </div>
    </div>
</main>

<script src="/scripts/survey.js"></script>